html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    font-size: 10px;
    font-family: RobotoRegular, Helvetica, Arial;
    
    @font-face {
        font-family: "RobotoMedium";
        src: local("RobotoMedium"),
        url(../fonts/roboto/Roboto-Medium.ttf) format("truetype");
         
      }

    @font-face {
        font-family: "RobotoBold";
        src: local("RobotoBold"),
        url(../fonts/roboto/Roboto-Bold.ttf) format("truetype");
         
      }
      
    @font-face {
        font-family: "RobotoRegular";
        src: local("RobotoRegular"),
        url(../fonts/roboto/Roboto-Regular.ttf) format("truetype");
         
      }

}

.img-fluid {
  width: 100%;
  height: auto;
  object-fit: cover;
}
