html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    font-size: 10px;
    
    @font-face {
        font-family: "RobotoMedium";
        src: local("Roboto"),
        url(../fonts/roboto/Roboto-Medium.ttf) format("truetype");
         
      }
    @font-face {
        font-family: "RobotoBold";
        src: local("Roboto"),
        url(../fonts/roboto/Roboto-Bold.ttf) format("truetype");
         
      }
   
}
