@import "../../assets/styling/variables/colors";
@import "../../assets/styling/variables/fonts";

.lois {
    background-color: #D1D1D1;
    padding: 0 20rem;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4rem;
    box-shadow: 1px 1px 6px 2px $darkShadow;

    .lois-txt {
        margin-top: 5rem;

        .sub-header {
            color: #606060;
            font-size: 2.8rem;
            margin-top: 10rem;
        }
    
        .main-header {
            color: $darkBlue;
            font-size: 4.8rem;
            margin-top: 0.8rem;
        }
    
        .info-txt {
            font-size: $txtSize;
            margin-top: 1rem;
        }
    
        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 160px;
            margin-top: 3rem;
            background-color: $darkBlue;
            border-radius: 4px 4px 16px 4px;
            padding: 1.4rem 2rem;
    
            
            .btn-a {
                color: $white;
                text-decoration: none;
                text-align: center;
                font-size: 2.2rem;
                font-weight: 600;
    
            }
    
            &:hover {
                transition: 0.1s ease-in;
                background-color: $orange;
            }
        }
    }

    .contact-portraits {
        display: flex;
        justify-content: space-between;

        margin: 5rem 0;

        .portrait-container {
            position: relative;
            
            .img {
                
                width: 100%;
                max-width: 450px;
                height: auto;
                border-radius: 4px;
            }

            .image-overlay {
                position: absolute;
                top: 70%;
                right: 0;
                height: 30%;
                background: rgb(0,173,187);
                background: linear-gradient(0deg, rgba(0,173,187,1) 0%, rgba(0,173,187,0.6) 61%, rgba(0,173,187,0) 100%);
                border-radius: 0 0 4px 4px;
                width: 100%;
                max-width: 450px;
               

                .title {
                    margin-top: 3rem;
                    padding-left: 2rem;
                    font-size: 2.6rem;
                    color: $white;
                    text-shadow: $txtShadow;
                }

                .name {
                    padding-left: 2rem;
                    font-size: 4rem;
                    text-shadow: $txtShadow;

                    color: $white;
                }

                .contact-info {
                    padding-left: 2rem;
                    margin-top: 0.2rem;
                    font-size: 2rem;
                    text-shadow: $txtShadow;
                    
                    color: $white;
                }
            }
        }
    }
}

//MEDIA QUERIES 

@media only screen and (max-width:1441px) {
    .lois {
        padding: 0 10rem;
    
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 4rem;
    
        .lois-txt {
            margin-top: 5rem;
    
            .sub-header {
                font-size: 2.8rem;
                margin-top: 10rem;
            }
        
            .main-header {
                color: $darkBlue;
                font-size: 4.8rem;
                margin-top: 0.8rem;
            }
        
            .info-txt {
                font-size: $txtSize;
                margin-top: 1rem;
            }
        
            .btn {
                width: 160px;
                margin-top: 3rem;
                padding: 1.4rem 2rem;
        
                
                .btn-a {
                    font-size: 2.2rem;
        
                }
        
            }
        }
    
        .contact-portraits {
            display: flex;
            gap: 2rem;
    
            margin: 5rem 0;
    
            .portrait-container {
                
                .img {
                    
                    width: 100%;
                    max-width: 380px;
                    height: auto;
                }
    
                .image-overlay {
                    width: 100%;
                    max-width: 450px;
                   
    
                    .title {
                        margin-top: 3rem;
                        padding-left: 2rem;
                        font-size: 2rem;
                        color: $white;
                        text-shadow: $txtShadow;
                    }
    
                    .name {
                        padding-left: 2rem;
                        font-size: 2.6rem;
                        text-shadow: $txtShadow;
    
                        color: $white;
                    }
    
                    .contact-info {
                        padding-left: 2rem;
                        margin-top: 0.2rem;
                        font-size: 1.6rem;
                        text-shadow: $txtShadow;
                        
                        color: $white;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1025px) {
    .lois {
        padding: 0 5rem;
    
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 3rem;
    
        .lois-txt {
            margin-top: 2rem;
    
            .sub-header {
                font-size: 2.4rem;
                margin-top: 10rem;
            }
        
            .main-header {
                font-size: 4rem;
                margin-top: 0.8rem;
            }
        
            .info-txt {
                font-size: $txtSize;
                margin-top: 1rem;
            }
        
            .btn {
                width: 160px;
                margin-top: 3rem;
                padding: 1.4rem 2rem;
        
                
                .btn-a {
                    font-size: 2.2rem;
        
                }
        
            }
        }
    
        .contact-portraits {
            display: flex;
            gap: 2rem;
    
            margin: 5rem 0;
    
            .portrait-container {
                
                .img {
                    
                    width: 100%;
                    max-width: 380px;
                    height: auto;
                }
    
                .image-overlay {
                    width: 100%;
                    max-width: 450px;
                   
    
                    .title {
                        margin-top: 2rem;
                        padding-left: 1.5rem;
                        font-size: 1.8rem;
                    }
    
                    .name {
                        padding-left: 1.5rem;
                        font-size: 2.4rem;
                    }
    
                    .contact-info {
                        padding-left: 1.5rem;
                        margin-top: 0.2rem;
                        font-size: 1.6rem;
                }
            }
        }
    }
}
}

@media only screen and (max-width:769px) {
    .lois {
        padding: 0 2.5rem;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    
        .lois-txt {
            margin-top: 2rem;
    
            .sub-header {
                font-size: 2.4rem;
                margin-top: 10rem;
            }
        
            .main-header {
                font-size: 4rem;
                margin-top: 0.8rem;
            }
        
            .info-txt {
                font-size: $txtSize;
                margin-top: 1rem;
            }
        
            .btn {
                width: 160px;
                margin-top: 3rem;
                padding: 1.4rem 2rem;
        
                
                .btn-a {
                    font-size: 2.2rem;
        
                }
        
            }
        }
    
        .contact-portraits {
            display: flex;
            flex-direction: column;
            gap: 2rem;
    
            margin: 2.5rem 0;
    
            .portrait-container {
                
                .img {
                    
                    width: 100%;
                    height: auto;
                }
    
                .image-overlay {
                    width: 100%;
                    max-width: 450px;
                   
    
                    .title {
                        margin-top: 2rem;
                        padding-left: 1.5rem;
                        font-size: 1.8rem;
                    }
    
                    .name {
                        padding-left: 1.5rem;
                        font-size: 2.4rem;
                    }
    
                    .contact-info {
                        padding-left: 1.5rem;
                        margin-top: 0.2rem;
                        font-size: 1.6rem;
                }
            }
        }
    }
}
}

@media only screen and (max-width:426px) {
    .lois {
        padding: 0 2.5rem;
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 3rem;
    
        .lois-txt {
            margin-top: 2rem;
    
            .sub-header {
                font-size: 2.4rem;
                margin-top: 2rem;
            }
        
            .main-header {
                font-size: 4rem;
                margin-top: 0.8rem;
            }
        
            .info-txt {
                font-size: $txtSize;
                margin-top: 1rem;
            }
        
            .btn {
                width: 160px;
                margin-top: 3rem;
                padding: 1.4rem 2rem;
        
                
                .btn-a {
                    font-size: 2.2rem;
        
                }
        
            }
        }
    
        .contact-portraits {
            display: flex;
            flex-direction: column;
            gap: 2rem;
    
            margin: 2.5rem 0;
    
            .portrait-container {
                
                .img {
                    
                    width: 100%;
                    height: auto;
                }
    
                .image-overlay {
                    width: 100%;
                    max-width: 450px;
                   
    
                    .title {
                        margin-top: 2rem;
                        padding-left: 1.5rem;
                        font-size: 1.8rem;
                    }
    
                    .name {
                        padding-left: 1.5rem;
                        font-size: 2.4rem;
                    }
    
                    .contact-info {
                        padding-left: 1.5rem;
                        margin-top: 0.2rem;
                        font-size: 1.6rem;
                }
            }
        }
    }
}
}