@import "../../assets/styling/variables/colors";
@import "../../assets/styling/variables/fonts";

.container {
    position: relative;
    height: 60vh;
    margin: 5rem 0;

    .txt-square {
        background-color: $darkBlue;
        width: 40%;
        height: 80%;
        position: absolute;
        z-index: 1;
        margin-top: 8rem;
        border-radius: 0 4px 4px 0;
        box-shadow: 2px 2px 4px 1px $darkShadow;
        padding-left: 5rem;

        .main-header {
            color: $white;
            font-size: 7.6rem;
            font-weight: 600;

            margin: 5rem 0 0 0;
        }

        .txt {
            color: $white;
            font-size: 2.6rem;
            padding: 0 10rem 0 2rem;
            margin: 2.5rem 0 0 0;
        }

        .btn {
            display: flex;
            justify-content: center;
            min-width: 140px;
            max-width: 200px;
            background-color: $white;
            border-radius: 4px 4px 16px 4px;

            color: $darkBlue;
            font-size: 2.8rem;
            font-weight: 600;
            text-decoration: none;
            padding: 1.6rem 1rem;
            margin: 2.5rem 0 0 2rem;

            &:hover {
                background-color: $orange;
                color: $white;
                transition: 0.2s ease-in;
            }

        }


    }

    .block-square {
        background-color: $lightGrey;
        width: 70%;
        height: 100%;
        position: absolute;
        right: 0;
        border-radius: 4px 0 0 4px;
        
        

        
    }
}