@import "../../assets/styling/variables/fonts.scss";
@import "../../assets/styling/variables/colors";

//TODO add img fluid to global class, or as mixin
.img-fluid {
  width: 100%;
  height: auto;
}

.main-header {
  //TODO add wrap class instead of 95 width
  width: 95%;
  height: 10vh;
  //skal skubbes
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  position: fixed;


  .header-logo {
    width: 125px;
    margin-left: 4rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .header-nav {
    display: flex;
    text-align: center;
    justify-content: center;  
    margin-top: 2rem;
    gap: 25px;
    
    .header-links {
      font-family: $Bold;
      font-size: 1.4rem;
      text-decoration: none;
      font-weight: 700;
      color: $black;
      cursor: pointer;

      &:hover {
        opacity: 1;
        color: white;
      }
    }

    .active {
      opacity: .3;
    }


    .router-link-active {
      text-decoration: overline;

      font-family: Helvetica, sans-serif;

    }

  }

  .header-support {

    width: 100%;

    display: flex;
    margin: 0 auto;
    justify-content: center;
    position: relative;

    a {
      padding: 10px 20px;
      background-color: $darkBlue;
      color: white;
      border-radius: 0 0 4px 4px;

      font-size: 1.6rem;

      position: absolute;
      right: 0;

      text-decoration: none;
      text-transform: capitalize;
      font-family: $Bold;

    }

  }

}

.modal-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  

  .filler {
    outline: 2px dotted rgba(0, 0, 0, 0.552);
    min-height: 100px;

    margin: 0 3rem;
  }

}