@import "../../assets/styling/variables/fonts.scss" ;

.img-fluid {
    width: 100%;
    height: auto;
  }
    
  .main-header {
    
    width: 95%;
    
    margin: 2rem auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    div, nav {
      border: 1px solid black;
    }
    
    .header-logo {
      width: 125px;
  
  
      display: flex;
      justify-content: center;
      align-items: center;
  
    }

    .header-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .header-links {
            font-family: $Bold;
            font-size: 1.8rem;
            text-decoration: none;
            font-weight: 700;
            

        }

        .router-link-active {
          font-size: 3rem;

          font-family: Helvetica, sans-serif;
        }

    }
  
    .header-support {
  
      a {
        border: 1px solid black; 
  
  
  
      }
  
    }
  
  }