

$darkBlue: #003366;
$greenBlue: #00ADBB;
$orange:#F88254;
$darkOrange:#e34a0d;
$white: #FFFFFF;
$black: #101010;
$grey: #C3C3C3;
$greyTxt: #828282;
$lightGrey: #cdc6c6;
$lighterGrey: #F5F5F5;
$darkShadow: rgba(0, 0, 0, 0.4);
$dropShadow: 2px 2px 4px 1px $darkShadow;