@import "../../assets/styling/variables/colors";
@import "../../assets/styling/variables/fonts";

.sub-nav {
    display: flex;
    justify-content: center;
    gap: 4rem;

    .sub-link {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 600;
        color: $greyTxt;

        &:hover {
            color: $darkBlue;
        }

    }
}