@import "../../assets/styling/variables/colors";
@import "../../assets/styling/variables/fonts";

.sub-nav {
    display: flex;
    justify-content: center;
    gap: 4rem;

    .sub-link {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 600;
        color: $greyTxt;
        border-bottom: 3px solid #00000000;

        &:hover {
            color: $darkBlue;
            cursor: pointer;
            transition: 0.1s ease-in;
        }

    }

    .router-link-active {
        border-top: 3px solid $darkBlue;
        border-bottom: none;
        color: $darkBlue;
        cursor: pointer;
        transition: 0.1s ease-in;

    }
}

//MEDIA QUERIES

@media only screen and (max-width: 426px) {

    .sub-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    
        .sub-link {
            font-size: 2rem;    
        }
    
        
    }
    
}