@import "../../assets/styling/variables/colors";
@import "../../assets/styling/variables/fonts";

.cases {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    
    background-color: $darkBlue;
    padding: 2rem 5rem;

    .cases-about {

        .cases-heading {
            font-size: $h2size;
            color: $white;

            margin: 2rem 0 0.8rem 0;
        }

        .cases-txt {
            font-size: $txtSize;
            color: $white;

            margin: 0
        }

        .cases-btn {
            display: flex;
            justify-content: center;
            align-items: center;

            max-width:240px;
            margin-top: 2rem;
            
            background-color: $orange;
            border: 4px solid $orange;
            border-radius: 4px 4px 16px 4px;
            box-shadow: 2px 3px 8px $darkShadow;
            
            padding: 1.2rem 0;
            color: $white;
            font-size: 2.2rem;
            font-weight: 600;
            text-decoration: none;
            
            &:hover {
                background-color: $darkOrange;
                border: 4px solid $darkOrange; 
                transition: 0.2s ease-in;
            }

            
        }

    }
}


//MEDIA QUERIES 

//Small laptop

@media only screen and (max-width: 1024px){
    
    
}

//Tablet
@media only screen and (max-width: 768px){
    
    .cases {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        gap: 2rem;
        
        padding: 2rem 2.5rem;
    
        .cases-about {
            grid-row: 2;
    
            .cases-heading {    
                margin: 0rem 0 0.8rem 0;
            }
    
            .cases-btn {
                display: flex;
                justify-content: center;
                align-items: center;
    
                max-width:240px;
                margin-top: 2rem;
                
                background-color: $orange;
                border: 4px solid $orange;
                border-radius: 4px 4px 16px 4px;
                box-shadow: 2px 3px 8px $darkShadow;
                
                padding: 1.2rem 0;
                color: $white;
                font-size: 2.2rem;
                font-weight: 600;
                text-decoration: none;
                
                &:hover {
                    background-color: $darkOrange;
                    border: 4px solid $darkOrange; 
                    transition: 0.2s ease-in;
                }
    
                
            }
    
        }

        .cases-img {
            grid-row: 1;
        }
    }
    
}

//Mobile
@media only screen and (max-width: 426px){
    
    
}