@import "../../assets/styling/variables/colors";
@import "../../assets/styling/variables/fonts";

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    

    margin: 2rem 5rem;

    .child-1 {
        grid-row: 1;

        .heading {
            margin: 0;

            font-size: $h2size;
            color: $black;
        }

        .txt {
            margin: 0;
            font-size: $txtSize;
            margin-top: $txtTopSpacing;
            margin-bottom: 1.5rem;
        }

        .read-more {

            font-size: 2rem;
            font-weight: 600;
            text-decoration: none;
            color: $black;

            .arrow {
                font-size: 1.5rem;
                font-weight: 600;
            }

            &:hover {
                animation-name: test;
            }
        }
    }
    .child-2 {
        background-color: teal;
        border-radius: 4px;

        grid-row: span 2;
        grid-column: 2;
    }
    .child-3 {
        background-color: teal;
        border-radius: 4px;
        grid-row: span 2;
        grid-column: 1;
    }
    .child-4 {
        background-color: hotpink;
        
        grid-row: 3;
        grid-column: 2;
    }


}

//Key frames

@keyframes test {
    from {background-color: none;}
    to {background-color: $orange;}
  }


//MEDIA QUERIES 

@media only screen and (max-width: 769px) {

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 0rem;
        
        border: 1px solid red;
    
        margin: 2rem 2.5rem;
    
        .child-1 {
            background-color: hotpink;
            grid-row: 3 / span 1;
            grid-column: 1;
        }
        .child-2 {
            background-color: teal;
    
            grid-row: 1 / span 2;
            grid-column: 1;
            
        }
        .child-3 {
            background-color: teal;
            grid-row: 4 / span 2;
            
        }
        .child-4 {
            background-color: hotpink;
            grid-row: 6 / span 1;
            grid-column: 1;
        
        }
    
    
    }

}